/* BASIC THEME SET USED BY ALL PAGES */

/* SYNTAX
.[name] selects all of <[type] class="[name]">
p.[name] selects all of <p class="[name]"> but does not select <a class="[name]">
TODO:
Move most style info into here
Make theme around #008c00, #008cff, with white text
Make sure that backgrounds (where added) do not eat my styles

*/

body {
background-color: #fff;
color: #000;
font-family: sans-serif;
}
ul.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ff8c00;
    display: flex;
 /*   justify-content: left*/
}
ul.header li {
    float: left;
    border-right: 1px solid #fff;
}
ul.header li:last-child {
    border-right: none;
}
li.searchbar {
justify-self: right;
float: right;
}
li.searchbar input {
float: right;
padding: 6px;
border: none;
margin-top: 8px;
margin-right: 16px;
font-size: 17px;
}
ul.header li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none
}
ul.header li a.valid:hover {
    background-color: #dd3c00
}
ul.header li.active {
    background-color: #bb3c00;
}
.nameform {
width: 100%
padding: 12px;
margin: 10px 0;
box-sizing: border-box;
border-radius: 5px;
border-color: #000
font-family: sans-serif;
}
.header {
font-size: 20px;
}

.contact-flexbox {
display: flex;
justify-content: space-between;
margin: 10px;
padding: 10px
}
/* Index Specific Styles */
.index-maincontainer {
display: flex;
/*flex-direction: column;*/
padding-top: 50px;
.index-text {
margin-left: -47.5%;
margin-top: 6%;
color: white;
font-size: 20px
}
/* FIXME
background-image: url('data:image/svg+xml,<svg width="50%" height="1000px" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="gradient1" y1="0%" y2="100%" x1="0%" x2="0%">
                <stop offset="0%" stop-color="#ffffff" />
                <stop offset="100%" stop-color="#000000" />
            </linearGradient>
            <mask id="mask4">
                <rect x="0" y="0" width="100%" height="1000px" fill="url(#gradient1)" />
            </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="1000px" fill="#008cff" mask="url(#mask4)" id="test" />

    </svg>' 0 / auto 100%;
*/

}
