/* BASIC THEME SET USED BY ALL PAGES */

/* SYNTAX
.[name] selects all of <[type] class="[name]">
p.[name] selects all of <p class="[name]"> but does not select <a class="[name]">
TODO:
Theme work for main page after i complete it

*/

body {
background-color: #fff;
color: #000
font-family: sans-serif;
}
ul.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ff8c00;
    display: flex;
    justify-content: left
}
ul.header li {
    float: left;
    border-right: 1px solid #fff;
}
ul.header li:last-child {
    border-right: none;
}

ul.header li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none
}
ul.header li a.valid:hover {
    background-color: #dd3c00
}
ul.header li.active {
    background-color: #bb3c00;
}
.nameform {
width: 100%
padding: 12px;
margin: 10px 0;
box-sizing: border-box
}
